html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/Wotfard/wotfard-thin-webfont.ttf");
  src: url("/fonts/Wotfard/wotfard-extralight-webfont.ttf");
  src: url("/fonts/Wotfard/wotfard-light-webfont.ttf");
  src: url("/fonts/Wotfard/wotfard-regular-webfont.ttf");
  src: url("/fonts/Wotfard/wotfard-semibold-webfont.ttf");
  src: url("/fonts/Wotfard/wotfard-bold-webfont.ttf");
}

@font-face {
  font-family: "Wotfard";
  src: url("/fonts/Wotfard/wotfard-thin-webfont.eot");
  src: url("/fonts/Wotfard/wotfard-thin-webfont.ttf");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Wotfard";
  src: url("/fonts/Wotfard/wotfard-extralight-webfont.eot");
  src: url("/fonts/Wotfard/wotfard-extralight-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Wotfard/wotfard-extralight-webfont.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Wotfard";
  src: url("/fonts/Wotfard/wotfard-light-webfont.eot");
  src: url("/fonts/Wotfard/wotfard-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Wotfard/wotfard-light-webfont.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Wotfard";
  src: url("/fonts/Wotfard/wotfard-regular-webfont.eot");
  src: url("/fonts/Wotfard/wotfard-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Wotfard/wotfard-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Wotfard";
  src: url("/fonts/Wotfard/wotfard-semibold-webfont.eot");
  src: url("/fonts/Wotfard/wotfard-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Wotfard/wotfard-semibold-webfont.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Wotfard";
  src: url("/fonts/Wotfard/wotfard-bold-webfont.eot");
  src: url("/fonts/Wotfard/wotfard-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Wotfard/wotfard-bold-webfont.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Archia";
  src: url("/fonts/Archia/archia-regular-webfont.eot");
  src: url("/fonts/Archia/archia-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Archia/archia-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Basier";
  src: url("/fonts/BasierMono/basiercirclemono-regular-webfont.eot");
  src: url("/fonts/BasierMono/basiercirclemono-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/BasierMono/basiercirclemono-regular-webfont.ttf")
      format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Parking";
  src: url("/fonts/Parking/parking-regular-webfont.eot");
  src: url("/fonts/Parking/parking-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Parking/parking-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Silka";
  src: url("/fonts/Silka/silka-regular-webfont.eot");
  src: url("/fonts/Silka/silka-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/Silka/silka-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

:root {
  --measure: 60ch;

  /* Modular scale points */
  --ratio: 1.5;
  --s-6: calc(var(--s-5) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --font-size-smaller: var(--s-2);
  --font-size-small: var(--s-1);
  --font-size-base: var(--s0);
  --font-size-big: var(--s1);
  --font-size-bigger: var(--s2);
  --font-size-biggest: var(--s3);

  --font-size-biggish: calc(var(--font-size-base) * 1.25);
  --font-size-smallish: calc(var(--font-size-base) / 1.25);

  --border-thin: var(--s-6);

  --colors-white-rgb: 255, 255, 255;
  --colors-offwhite-rgb: 231, 231, 231;
  --colors-xiketic-rgb: 26, 26, 46; /* 240, 28, 14 */
  --colors-gunmetal-rgb: 25, 44, 56; /* 203, 38, 16 */
  --colors-black-rgb: 0, 0, 0;
  --colors-ponder-rgb: 246, 241, 237;
  --colors-palespringbud-rgb: 244, 247, 190; /* 63 78 86 */
  --colors-aero-rgb: 135 188 222; /* 203 57 70 */
  --colors-midnightgreeneagle-rgb: 11, 58, 70; /* 192, 73, 16 */

  --colors-palespringbud: rgb(var(--colors-palespringbud-rgb));
  --colors-aero: rgb(var(--colors-aero-rgb));
  --colors-midnightgreeneagle: rgb(var(--colors-midnightgreeneagle-rgb));
  --colors-gunmetal: rgb(var(--colors-gunmetal-rgb));

  --colors-primary-light-rgb: var(--colors-black-rgb);
  --colors-primary-dark-rgb: var(--colors-offwhite-rgb);
  --colors-background-light-rgb: var(--colors-ponder-rgb);
  --colors-background-dark-rgb: var(--colors-xiketic-rgb);
}

/* exception-based limit for width is a measure (60ch) */
* {
  max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

body {
  font-family: Wotfard, Silka, Futura, --apple-system, sans-serif;
}

p {
  font-size: var(--font-size-base);
  line-height: 140%;
}

h1 {
  font-size: var(--font-size-biggest);
}
h2 {
  font-size: var(--font-size-big);
}
h3 {
  font-size: var(--font-size-biggish);
}

/* theme based colors and values. -transitional vars are for the header fade transition */
body[data-theme="light"] {
  --colors-primary-rgb: var(--colors-primary-light-rgb);
  --colors-background-rgb: var(--colors-background-light-rgb);
  --colors-primary: rgb(var(--colors-primary-rgb));
  --colors-background: rgb(var(--colors-background-rgb));
  --colors-background-lighter: #ffffff;
  --colors-fun: purple;
  --light-header-opacity: 1;
  --theme-switch-icon: "🌗";
  --highlight-icon: url("/cloud.png");
  --icon-inversion: 0%;
}
body[data-theme="dark"] {
  --colors-primary-rgb: var(--colors-primary-dark-rgb);
  --colors-background-rgb: var(--colors-background-dark-rgb);
  --colors-primary: rgb(var(--colors-primary-rgb));
  --colors-background: rgb(var(--colors-background-rgb));
  --colors-background-darkest: rgb(14, 17, 19);
  --colors-background-darker: rgb(8, 18, 41);
  --colors-background-lighter: var(--colors-gunmetal);
  --colors-background-lightest: var(--colors-midnightgreeneagle);
  --colors-highlight: var(--colors-palespringbud);
  --colors-accent: var(--colors-aero);
  --colors-fun: yellow;
  --colors-error: red;
  --light-header-opacity: 0;
  --theme-switch-icon: "☀️";
  --highlight-icon: url("/stars.png");
  --icon-inversion: 100%;
}

body[data-bgtransition="loaded"] {
  transition: background-color 0.5s;
}

/* utility classes */
.font-size\:small {
  font-size: var(--font-size-small) !important;
}

.font-size\:smallish {
  font-size: var(--font-size-smallish) !important;
}

.font-size\:base {
  font-size: var(--font-size-base) !important;
}

.font-size\:biggish {
  font-size: var(--font-size-biggish) !important;
}

.font-size\:big {
  font-size: var(--font-size-big) !important;
}

.font-size\:biggest {
  font-size: var(--font-size-biggest) !important;
}

body {
  color: var(--colors-primary);
  background-color: var(--colors-background);
}

/* animations */

@keyframes font-bounce {
  0% {
    font-size: var(--font-size-base);
  }
  50% {
    font-size: var(--font-size-big);
  }
  100% {
    font-size: var(--font-size-base);
  }
}

@keyframes font-bounce-small {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
