@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --measure: 60ch;
  --coolGray-900-rgb: 17, 24, 39;
  --gray-900-rgb: 24, 24, 27;
  --cyan-100-rgb: 207, 250, 254;
  --cyan-200-rgb: 165, 243, 252;
  --gray-200-rgb: 228, 228, 231;

  --bgcolor-dark-rgb: var(--gray-900-rgb);
  --bgcolor-light-rgb: var(--gray-200-rgb);
}

@layer base {
  @font-face {
    font-family: "Wotfard";
    src: url("/fonts/Wotfard/wotfard-regular-webfont.eot");
    src: url("/fonts/Wotfard/wotfard-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/Wotfard/wotfard-regular-webfont.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Wotfard";
    src: url("/fonts/Wotfard/wotfard-semibold-webfont.eot");
    src: url("/fonts/Wotfard/wotfard-semibold-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/Wotfard/wotfard-semibold-webfont.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: "Wotfard";
    src: url("/fonts/Wotfard/wotfard-bold-webfont.eot");
    src: url("/fonts/Wotfard/wotfard-bold-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/Wotfard/wotfard-bold-webfont.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "Basier";
    src: url("/fonts/BasierMono/basiercirclemono-regular-webfont.eot");
    src: url("/fonts/BasierMono/basiercirclemono-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/BasierMono/basiercirclemono-regular-webfont.ttf")
        format("truetype");
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Archia";
    src: url("/fonts/Archia/archia-regular-webfont.eot");
    src: url("/fonts/Archia/archia-regular-webfont.eot?#iefix")
        format("embedded-opentype"),
      url("/fonts/Archia/archia-regular-webfont.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
  }
}

@layer utilities {
  @variants responsive {
    .bg-blur-20 {
      backdrop-filter: blur(20px);
    }

    .bg-blur-0 {
      backdrop-filter: none;
    }
  }

  @variants dark {
    .dark-gradient {
      background: linear-gradient(
        to bottom,
        rgb(var(--bgcolor-dark-rgb)),
        rgb(var(--bgcolor-dark-rgb)),
        rgb(var(--bgcolor-dark-rgb)),
        rgba(var(--bgcolor-dark-rgb), 0)
      );
    }

    .invert-0 {
      filter: invert(0%);
    }

    .well-shadow {
      box-shadow: inset 0 2px 2px rgb(0, 0, 0, 0.4),
        0 2px 0 rgb(255, 255, 255, 0.4);
    }
  }

  .light-gradient {
    background: linear-gradient(
      to bottom,
      rgb(var(--bgcolor-light-rgb)),
      rgb(var(--bgcolor-light-rgb)),
      rgb(var(--bgcolor-light-rgb)),
      rgba(var(--bgcolor-light-rgb), 0)
    );
  }

  .box {
    @apply block p-5;
  }

  .invert-80 {
    filter: invert(80%);
  }

  /* Some css var trickery to make every-layout stacks */
  .sts-10 {
    --space: theme("spacing.10");
  }

  .stack {
    @apply flex flex-col justify-items-start;
  }
  .stack > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .stack > * + * {
    margin-top: var(--space);
  }

  .hero {
    position: absolute;
    height: 400%;
    width: 200%;
    top: -25%;
    left: -100%;
    background-size: 800px auto;
  }

  .card-logo::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 65%;
    border-radius: 100%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.52;
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
  }

  .card-logo-hover::after {
    transform: translate(-50%, -40%);
  }
}

body {
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
