@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --measure: 60ch;
  --coolGray-900-rgb: 17, 24, 39;
  --gray-900-rgb: 24, 24, 27;
  --cyan-100-rgb: 207, 250, 254;
  --cyan-200-rgb: 165, 243, 252;
  --gray-200-rgb: 228, 228, 231;

  --bgcolor-dark-rgb: var(--gray-900-rgb);
  --bgcolor-light-hsl: 223, 74%, 92%;
  --bgcolor-light-rgb: var(--gray-200-rgb);

  --invert: invert(0);
  --blur: blur(0px);
}

@layer utilities {
  .bg-blur-20 {
    backdrop-filter: blur(20px);
  }

  .bg-blur-50 {
    backdrop-filter: blur(50px);
  }

  .bg-blur-0 {
    backdrop-filter: none;
  }
  .dark-gradient {
    background: linear-gradient(
      to bottom,
      rgb(var(--bgcolor-dark-rgb)),
      rgb(var(--bgcolor-dark-rgb)),
      rgb(var(--bgcolor-dark-rgb)),
      rgba(var(--bgcolor-dark-rgb), 0)
    );
  }

  .link {
    @apply font-semibold border-b-4 border-indigo-500 text-indigo-500 hover:border-indigo-600 hover:text-indigo-600;
  }

  .invert-0 {
    filter: invert(0%);
  }
  .invert-50 {
    filter: invert(50%);
  }

  .invert-80 {
    --invert: invert(80%);
  }

  .blur-10 {
    --blur: blur(10px);
  }

  .blur-1 {
    --blur: blur(1px);
  }

  .blur-5 {
    --blur: blur(5px);
  }

  .filter {
    filter: var(--invert) var(--blur);
  }

  .well-shadow {
    box-shadow: inset 0 2px 2px rgb(0, 0, 0, 0.4),
      0 2px 0 rgb(255, 255, 255, 0.4);
  }

  .aspect-ratio-none {
    padding-bottom: 0;
  }
  .aspect-ratio-square {
    padding-bottom: 100%;
  }
  .aspect-ratio-16\/9 {
    padding-bottom: 56.25%;
  }
  .aspect-ratio-4\/3 {
    padding-bottom: 75%;
  }
  .aspect-ratio-21\/9 {
    padding-bottom: 42.86%;
  }

  .light-gradient {
    background: linear-gradient(
      to bottom,
      hsl(var(--bgcolor-light-hsl)),
      hsl(var(--bgcolor-light-hsl)),
      hsl(var(--bgcolor-light-hsl)),
      hsla(var(--bgcolor-light-hsl), 0)
    );
  }

  .box {
    @apply block p-5;
  }

  /* Some css var trickery to make every-layout stacks */
  .sts-10 {
    --space: theme('spacing.10');
  }

  .stack {
    @apply flex flex-col justify-items-start;
  }
  .stack > * {
    margin-top: 0;
    margin-bottom: 0;
  }
  .stack > * + * {
    margin-top: var(--space);
  }

  /* decoration for current navlink */
  a.current-link:hover {
    cursor: default;
  }

  .current-link::before {
    content: '\2022';
    position: absolute;
    margin-left: -0.6em;
  }

  .card-logo::after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 65%;
    border-radius: 100%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.52;
    transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
  }

  .card-logo-hover::after {
    transform: translate(-50%, -40%);
  }

  .transition-fill {
    transition: fill 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}

body[data-bgtransition='loaded'] {
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.dvc-button {
  --text-color: hsl(180, 100%, 12%);
  margin: 0 auto;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  background-color: hsl(170, 72%, 47%);
  color: hsl(180, 100%, 12%);
  white-space: nowrap;
  font-family: 'Inter', sans-serif;

  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-radius: 0.5rem;
  letter-spacing: normal;
  font-size: 0.875rem;
  transition: background-color 0.2s ease-in-out, scale 0.15s ease-in-out;
}

.dvc-button:hover {
  text-decoration: none;
  background-color: hsla(170, 72%, 42%);
}

.dvc-button span {
  margin-left: 0.5rem;
}

.dvc-button .logo-container {
  display: grid;
  grid-template-columns: 1fr;
}

.dvc-button .logo-container svg {
  width: 1.5rem;
  height: 1.5rem;
  color: hsl(180, 100%, 12%);
  grid-row-start: 1;
  grid-column-start: 1;
}

.dvc-button:hover .tartle-logo {
  opacity: 0;
  rotate: 180deg;
  animation: pulse 0.3s ease-in-out;
}

.dvc-button:hover .logo-cube {
  opacity: 1;
  rotate: 360deg;
  animation: pulse 0.3s ease-in-out;
}

.tartle-logo,
.logo-cube {
  transition: opacity 0.3s ease-in-out,
    rotate 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86), scale 0.3s ease-in-out;
}
.tartle-logo {
  opacity: 1;
  scale: 1;
  rotate: 0deg;
}
.logo-cube {
  opacity: 0;
  scale: 1;
  rotate: 180deg;
}

.dvc-button:active {
  scale: 0.95;
}

.dvc-button:active .logo-cube {
  scale: 0.35;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
